/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */
 

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.nav-pills{
		margin:0!important;
	}
	.nav-pills .nav-item{
		width: 25%;
		height: 25vh;
	}
	.nav-item .nav-link { 
	  width: 100%;
	  display: inline-block;
	  padding:30px;
  }
	.nav-item button i{
	  font-size: 24px; 
	  margin: 0!important;
   }
   .nav-item button h4{
	 display: none!important;
   } 
	.cards{
		margin-bottom: 15px;
	}
	.social-img ul { 
		left: 15%; 
	}  
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.social-img ul { 
		left:5px; 
	}
	.navbar-expand-lg .navbar-nav .nav-link{
		padding:0 8px 0 8px!important;
	}
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	 
	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.social-img ul { 
		left: 25%; 
	}
}
@media only screen and (min-width: 180px) and (max-width: 767px) {
	.get-started-btn{
		display: none;
	} 
	.vulo-res{
		flex-direction:column; 
	}
   .voluptatem-left, .containt-colunm-2-1{
	   text-align: center;
	   padding:0!important;
	   padding:4px!important;
   }
   .containt-colunm-2-1{
	   display: flex;
	   flex-direction: column;
   }
   .res-main-containt-vulo{
	   flex-direction: column;
   }
   .nav-pills{
	   margin:0!important;
   }
   .nav-pills .nav-item{
	   width: 25%;
	   height: 25vh;
   }
   .nav-item .nav-link { 
	 width: 100%;
	 display: inline-block;
	 padding:30px;
 }
   .nav-item button i{
	 font-size: 24px; 
	 margin: 0!important;
  }
  .nav-item button h4{
	display: none!important;
  }
  .tab-content .tab-pane .row {
	  display: flex;
	  flex-direction: column-reverse;
  }
  .grid-by-me .element-item{
	  margin:0 0 10px 0!important;
	  justify-content: space-between;
	  width: 100%;
	   
  }
   .fr-btn{
	   font-size: 10px;
	   white-space: nowrap;
	   padding: 6px !important;
	   margin-left: 28	%!important;
   }
   .cards{
	margin-bottom: 15px;
}

  
}

/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	 
}