body{
    font-family: 'Roboto', sans-serif;
    color: #444444;
    font-size: 1rem;
    line-height: 1.5;
}
ul{
    list-style: none;
} 
a{
    text-decoration:none;
}
a:hover{
    color:white;
}
.navbar{
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}
.py-m{
    padding:80px 0 80px 0;
}
.py-m2{
    padding:90px 0 120px 0;
}
.dropdown-items{
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    
}
.dropdown-hover{
    position:relative;
}

.dropdown-menu-1{
    position: absolute;
    top:70px; 
    transition:.3s;
    visibility: hidden;
    background:white;
    
} 
.dropdown-hover:hover .dropdown-menu-1{
    top: 50px;
    visibility: visible; 
}

.dropdown-hover2{
    position:relative;
} 
.dropdown-menu-2{
    position: absolute;
    left:50px; 
    transition:.3s;
    visibility: hidden;
    background:white;
}
.dropdown-hover2:hover .dropdown-menu-2{
    left: 70px;
    visibility: visible; 
}
.get-started-btn {
    margin-left: 30px;
    background: #e03a3c;
    color: #fff;
    border-radius: 4px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}
.get-started-btn:hover{
    background:#000; 
}
.navbar-collapse ul li .nav-link { 
    padding-left:2rem!important; 
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:red;
}
.intro{
    background:url(../images/header-bg.jpg);
    width: 100%;
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: -1;
}
.intro:before{
    content:'';
    position: absolute;
    background:rgba(0, 0, 0, 0.6);
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: -1;
}
.intro-contant h1{
    font-size: 48px;
    font-weight:700; 
    color:#fff;
    margin:0;
    
}
.intro-contant h4{
    font-size: 24px;
    font-weight:700px; 
    color:#fff;
}
.get-started-btn2 {
    letter-spacing: 1px; 
    color: #fff;
    border-radius: 4px;
    padding: 10px 30px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-top:30px;
    background: #e03a3c;
    border: 2px solid #e03a3c;
    font-family:'Roboto', sans-serif ;
}
.get-started-btn2:hover{
    background:transparent;
    border: 2px solid #fff; 
}
/*slider*/
html,
body {
  position: relative;
  height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%; 
    
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    margin:0;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
    /*slider end*/
.swiper-slide img{
    filter: grayscale(100);
    opacity: 0.5;
    transition:.3s;

 }
 .swiper-slide img:hover{
    filter:none;
    opacity:1;  
}
.about-btn{
    letter-spacing: 1px; 
    color: #fff;
    border-radius: 25px;
    padding: 8px 30px 9px 30px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 300;
    display: inline-block; 
    border: 2px solid #e03a3c;
    font-family:'Roboto', sans-serif ;
}
.about-btn:hover{
     background-color:#e03a3c;
}
.voluptatem-left{
    padding: 30px 30px 30px 0;
}
.voluptatem-left h2{
     font-size: 34px;
     font-weight:700;   
}
.containt-colunm-2-1 .colunm-1 i{
    font-size:40px;
    color:#e03a3c;
    margin-bottom:10px;
}
.containt-colunm-2-1 .colunm-1 h4{
    font-size:20px;
     color:#fff;
     font-weight: 700;
     margin-bottom:10px;
}
.containt-colunm-2-1 .colunm-1 p{
    font-size:15px;
     color: #848484;
}
.voluptatem {
    position:relative;
    padding: 120px 0 120px 0;
}
.voluptatem::before{
    content:'';
    background:#1b1b1b;
    position: absolute;
    top:60px;
    bottom:60px;
    left:0;
    right:0;
    transform:skewY(-3deg);
    z-index: -1;
}
.count-box{
    padding:30px 30px 25px 30px;
    width: 100%;
    box-shadow: 0px 2px 35px rgb(0 0 0 / 6%);
    border-radius:4px;
    position: relative;
}
.count-box span{
    font-size:36px;
    display:block;
    font-weight: 700;
    color:#111111;
}
.count-box p{
    font-size:14px;
    margin:0;
    padding:0;
    
}
.count-box i{
    position:absolute;
    width:54px;
    height:54px;
    border-radius:100%;
    color:#e03a3c;
    font-size:24px;
    box-shadow: 0px 2px 25px rgb(0 0 0 / 10%);
    background:#fff;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    top: -30px;
    left: 50%;
    transform:translateX(-50%);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color:#e03a3c;
    border-color:#e03a3c;
     
}

.nav-item button i{
    font-size: 48px;
}
.nav-item button h4{
    font-size: 18px;
    margin:0;
    display: block;
    font-weight: 600; 
    text-align:start;
}
.nav-pills .nav-link {
    background: 0 0; 
    padding:15px; 
    border: 1px solid #b9b9b9;
    border-radius: 0;
    transition: 0.3s;
    color:#111111;
    display: flex;
    justify-content: center;
    align-items:center;
    white-space:normal;
}
.nav-pills .nav-link:hover{
    color:#e03a3c;
    border-color: #e9ecef #e9ecef #dee2e6;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link:hover{
    color: #fff;
    background-color:#e03a3c;
    border-color:#e03a3c;
     
}
.tab-left-content h3{
    font-size:26px;
    font-weight: 600;
}
.tab-left-content p{
    margin-bottom:1rem; 
}
.tab-left-content ul{
     padding:0px;
}
.tab-left-content ul li { 
    font-size: 17px;
}
.tab-left-content ul li i{
    color:#e03a3c;
    font-size: 20px;
}
.title h1{
    font-size: 32px;
    font-weight:bold;
    padding-bottom:20px; 
}
.title hr{
    width: 50px;
    height: 3px;
    margin:10px auto;
    background:#e03a3c; 
    opacity: 1;
}
.icon-box {
    padding:30px; 
    background: #252525;
    border-radius: 10px;
    color:#fff;
}
.icon-box:hover{
    background: #2b2b2b;
}
.icon-div i{
    font-size: 40px;
    color:#e03a3c;
}
.icon-content h2{
    font-size: 18px;
    
}
.service{
    position:relative;
}
.service::before{
    content:'';
    background:#1b1b1b;
    position:absolute;
    top:60px;
    bottom:60px;
    left: 0;
    right:0;
    transform:skewY(-3deg);
    z-index: -1;
}
.filter-button-group button{ 
    border:none;
    border-radius:3px;
    padding:8px 15px 10px 15px; 
    font-size:14px;
    line-height: 1;
    font-weight: 600;
    background:0 0;
}
.filter-active:focus{
    background:#e03a3c;
    color:white;
}
.img-link  {
    overflow: hidden;  
}
.img-link h2{
    font-size: 20px; 
    color:#fff;   
}
.img-link h4{
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-style: italic;
}
.img-link div i{
    font-size: 20px;
    opacity: 0.7;
    color:white;
}
.img-link div i:hover{
    font-size: 20px;
    opacity: 1;
    color:white;
}

.element-item{
    position:relative;
    transition: .3s;
    overflow: hidden;
}
.element-item img{
    transition:.3s; 
    width: 100%;
    overflow: hidden;
}
.element-item:hover img{
    transform:scale(1.2);
    overflow: hidden;
   
}
.element-item::before{
    content:'';
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    background: rgba(17, 17, 17, 0.6);
    z-index:2;
    opacity: 0;
    transition: .3s;
}
.element-item:hover::before{
    opacity: 1;
}
.img-link{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:3;
    opacity: 1;
    transition: .3s;
    display: flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items: flex-start; 
}
.element-item {
    float: left;
    width:30.33333%;
    height: auto;
    position:relative;
    overflow: hidden;
    
}
.grid-sizer{
    width:16.6666%;
}
 